name: Finance Control

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkouts
        uses: actions/checkout@v2

      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{hashFiles('**/pom.xml')}}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build w/ Maven
        run: mvn clean install

      #- name: Run Checkstyle
      #  run: mvn checkstyle:check
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Run test
        run: mvn test

  deploy:
    runs-on: self-hosted
    needs: test
    steps:
      - name: Checkouts
        uses: actions/checkout@v2
      - name: Setup JDK
        uses: actions/setup-java@v1
        with:
          java-version: '17'
      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{hashFiles('**/pom.xml')}}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build w/ Maven
        run: mvn clean install

      - name: Run java application
        run: mvn exec:java -Dexec.mainClass="art.FinanceControl"
